@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
font-family: 'Epilogue', sans-serif;
color: hsl(0, 0%, 8%);
font-size: 1.6rem;
}

img {
max-width: 100%;
display: block;
}


html {
font-size: 62.5%;
}

button {
background-color: transparent;
border: 0;
cursor: pointer;
}

a {
display:block;
text-decoration: none;
cursor: pointer;
}

a:hover {
display:block;
text-decoration: none;
}

body {
background-color: hsl(0, 0%, 98%);
}

.container {
padding:0 2rem;
width: 100%;
max-width:1280px;
margin: 0 auto;
}

.logo {
max-height: 2.6rem;
}

header {
align-items: center;
padding: 1rem 1.5rem;
}

.register {
border: 0.1rem solid  hsl(0, 0%, 41%);
border-radius: 0.8rem;
color: hsl(0, 0%, 41%);
padding: 0.7rem 1rem;
transition-duration: 0.4s;
}

.register:hover {
border: 0.1rem solid hsl(0, 0%, 8%);
border-radius: 0.8rem;
color: #fff;
background-color: hsl(0, 0%, 8%);
}

.btn a {
padding: 1.4rem 3rem 1.4rem 3rem;
border-radius: 0.8rem;
font-weight: bold;
color: #fff;
background-color: hsl(0, 0%, 8%);
border: 0.1rem solid  hsl(0, 0%, 8%);
transition-duration: 0.4s;
}

.btn:hover a {
border-radius: 0.8rem;
font-weight: bold;
color: hsl(0, 0%, 8%);
border: 0.1rem solid  hsl(0, 0%, 8%);
background-color: transparent;
}

h1 {
font-size: 4.8rem;
line-height: 99%;
}

.s-hero {
margin-top: 14rem;
} 

.s-hero .container {
display: flex;
align-items: center;
justify-content: space-around;
}

.img-hero-desktop {
height: auto;
width: 39.5rem;
}

.box-text {
max-width: 40rem;
}

.logos {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 24rem;
height: 2.7rem;
gap: 4rem;
}

p {
color: hsl(0, 0%, 41%);
line-height: 2.4rem;
margin-top: 2rem;
margin-bottom: 2.5rem;
}

/*MENU NAV BAR */

.icon-menu {
margin-right: 0.9rem;
align-items: center;
display: flex;
}

.topnav {
display: flex;
align-items: center;
justify-content: space-between;
color: hsl(0, 0%, 41%);
}

.topnav a {
float: left;
display: block;
color: hsl(0, 0%, 41%);
text-align: center;
padding: 1rem 0rem 1rem 1rem;
text-decoration: none;
}

.topnav .icon {
display: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {    
border: none;
outline: none;
color: hsl(0, 0%, 41%);
padding: 0.9rem 1rem;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.dropdown-content {
display: none;
position: absolute;
background-color: hsl(0, 0%, 100%);
min-width: 11rem;
box-shadow: 0rem 0.8rem 1rem 0rem hsl(0, 0%, 80%);
z-index: 1;
border-radius: 1rem;
padding: 1.5rem 1.8rem 0.5rem 0.5rem;
}

.dropdown-content a {
float: none;
color: hsl(0, 0%, 41%);
padding-top: 0.2rem;
text-decoration: none;
display: block;
align-items: center;
display: flex;
}

.topnav a:hover, .dropdown:hover .dropbtn {
color: hsl(0, 0%, 8%);
}

.dropdown-content a:hover {
color: hsl(0, 0%, 8%);
}

.dropdown:hover .dropdown-content {
display: block;
}


@media(max-width: 480px) {

.menu {
display: none;
}

.s-hero {
margin-top: 5rem;
margin-bottom: 4rem;
}

.s-hero .container {
display: flex;
justify-content: space-around;
flex-direction: column;
}

.box-text {
text-align: center;
}

.logos {
margin-top: 5rem;
margin-bottom: 5rem;
gap: 0rem;
}

.logos img {
width: 20%;
}

.menu-mobile {
display: flex;
align-items: center;
gap: 2.6rem;
}

button {
width: 100%;
}

}
